Repository ES2-UFPI/Remedius, pull requests merged in 2024-11, with the labels that each got.

#23 create classes and methods for 'medicamento''
  backend/src/main/java/com/remedius/remedius/RemediusApplication.java
  backend/src/main/java/com/remedius/remedius/controller/MedicamentoController.java
  backend/src/main/java/com/remedius/remedius/entities/MedicamentoEntity.java
  backend/src/main/java/com/remedius/remedius/repository/MedicamentoRepository.java
  backend/src/main/java/com/remedius/remedius/service/MedicamentoService.java
  backend/src/main/resources/application.properties
  compose.yaml
Labels: backend

#29 :sparkles: feat: add NativeWind for styling React Native components
  frontend/app/index.tsx
  frontend/babel.config.js
  frontend/global.css
  frontend/metro.config.js
  frontend/nativewind-env.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tailwind.config.js
  frontend/tsconfig.json
Labels: frontend

#32 Criação da tela de listagem de medicações
  frontend/app/(tabs)/_layout.tsx
  frontend/app/(tabs)/add.tsx
  frontend/app/(tabs)/explore.tsx
  frontend/app/(tabs)/home.tsx
  frontend/app/(tabs)/list.tsx
  frontend/app/(tabs)/placeholder.tsx
  frontend/app/(tabs)/profile.tsx
  frontend/app/_layout.tsx
  frontend/app/index.tsx
  frontend/components/Collapsible.tsx
  frontend/components/ExternalLink.tsx
  frontend/components/HapticTab.tsx
  frontend/components/Header.tsx
  frontend/components/HelloWave.tsx
  frontend/components/MedicationSchedule.tsx
  frontend/components/MedicationStock.tsx
  frontend/components/ParallaxScrollView.tsx
  frontend/components/ThemedText.tsx
  frontend/components/ThemedView.tsx
  frontend/components/__tests__/ThemedText-test.tsx
  frontend/components/__tests__/__snapshots__/ThemedText-test.tsx.snap
  frontend/components/ui/IconSymbol.ios.tsx
  frontend/components/ui/IconSymbol.tsx
  frontend/components/ui/TabBarBackground.ios.tsx
  frontend/components/ui/TabBarBackground.tsx
  frontend/constants/Colors.ts
  frontend/hooks/useColorScheme.ts
  frontend/hooks/useColorScheme.web.ts
  frontend/hooks/useThemeColor.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/reset-project.js
  frontend/tailwind.config.js
Labels: bug, enhancement, frontend

#35 ✨ feat: Implements 'Medication Registry' page on React Native (Front-end) and fixes global main width
  frontend/app/(tabs)/add.tsx
  frontend/app/(tabs)/home.tsx
  frontend/app/(tabs)/list.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: enhancement, frontend

#28 create usuario entity and usuarioMedicacao entity
  backend/src/main/java/com/remedius/remedius/DTOs/MedicamentoRequest.java
  backend/src/main/java/com/remedius/remedius/RemediusApplication.java
  backend/src/main/java/com/remedius/remedius/controller/MedicamentoController.java
  backend/src/main/java/com/remedius/remedius/controller/UsuarioController.java
  backend/src/main/java/com/remedius/remedius/controller/UsuarioMedicamentoController.java
  backend/src/main/java/com/remedius/remedius/entities/MedicamentoEntity.java
  backend/src/main/java/com/remedius/remedius/entities/UsuarioEntity.java
  backend/src/main/java/com/remedius/remedius/entities/UsuarioMedicamentoEntity.java
  backend/src/main/java/com/remedius/remedius/repository/UsuarioMedicamentoRepository.java
  backend/src/main/java/com/remedius/remedius/repository/UsuarioRepository.java
  backend/src/main/java/com/remedius/remedius/service/MedicamentoService.java
  backend/src/main/java/com/remedius/remedius/service/UsuarioMedicamentoService.java
  backend/src/main/java/com/remedius/remedius/service/UsuarioService.java
Labels: backend

#37 Fix usuariomedicacao get e formato datainicial#36
  backend/src/main/java/com/remedius/remedius/DTOs/MedicamentoRequest.java
  backend/src/main/java/com/remedius/remedius/entities/MedicamentoEntity.java
  backend/src/main/java/com/remedius/remedius/entities/UsuarioEntity.java
  backend/src/main/java/com/remedius/remedius/entities/UsuarioMedicamentoEntity.java
  backend/src/main/java/com/remedius/remedius/service/UsuarioMedicamentoService.java
Labels: backend

#39 ✨ feat: Implements front-end and back-end integration for all implemented screens
  backend/src/main/java/com/remedius/remedius/CORSConfig.java
  frontend/app/(tabs)/add.tsx
  frontend/app/(tabs)/home.tsx
  frontend/app/(tabs)/list.tsx
  frontend/components/MedicationSchedule.tsx
  frontend/components/MedicationStock.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: enhancement, frontend

#30 Configure Firebase Cloud Messaging
  frontend/.gitignore
  frontend/app.json
  frontend/eas.json
  frontend/package-lock.json
  frontend/package.json
Labels: enhancement
