Repository ES2-UFPI/Remedius, pull requests merged in 2025-01, with the labels that each got.

#68 ✨ feat: Implementação da integração do Front-end/Back-end para a tela de Estoque de Medicações + Testes Front-end
  frontend/__tests__/Inventory.test.tsx
  frontend/app/(tabs)/inventory.tsx
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
Labels: enhancement, frontend, backend

#70 Implement tests in UsuarioMedicamentoService and controller
  backend/src/main/java/com/remedius/remedius/DTOs/MedicamentoRequest.java
  backend/src/main/java/com/remedius/remedius/entities/UsuarioEntity.java
  backend/src/main/java/com/remedius/remedius/entities/UsuarioMedicamentoEntity.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/remedius/remedius/controller/UsuarioMedicamentoControllerTest.java
  backend/src/test/java/com/remedius/remedius/service/UsuarioMedicamentoServiceTest.java
Labels: backend, test

#75 Testes para a classe EstoqueUsuarioMedicamentoService
  backend/src/main/java/com/remedius/remedius/entities/EstoqueUsuarioMedicamentoEntity.java
  backend/src/test/java/com/remedius/remedius/service/EstoqueUsuarioMedicamentoServiceTest.java
Labels: backend, test

#76 ✨ feat: Implementação da Validar dados de entrada para cadastro de medicações + Testes Front-end
  frontend/__tests__/RegisterMedication.test.tsx
  frontend/app/(tabs)/add.tsx
  frontend/jest.config.js
  frontend/package-lock.json
Labels: enhancement, frontend, backend

#81 Correção no problema de adição de medicações
  frontend/app/(tabs)/add.tsx
Labels: bug, frontend

#78 Verificação e controle de níveis de estoque#48#50#52
  backend/src/main/java/com/remedius/remedius/DTOs/EstoqueUsuarioMedicamentoRequest.java
  backend/src/main/java/com/remedius/remedius/controller/EstoqueUsuarioMedicamentoController.java
  backend/src/main/java/com/remedius/remedius/controller/UsuarioController.java
  backend/src/main/java/com/remedius/remedius/controller/UsuarioMedicamentoController.java
  backend/src/main/java/com/remedius/remedius/entities/EstoqueUsuarioMedicamentoEntity.java
  backend/src/main/java/com/remedius/remedius/entities/UsuarioEntity.java
  backend/src/main/java/com/remedius/remedius/repository/EstoqueUsuarioMedicamentoRepository.java
  backend/src/main/java/com/remedius/remedius/repository/UsuarioMedicamentoRepository.java
  backend/src/main/java/com/remedius/remedius/repository/UsuarioRepository.java
  backend/src/main/java/com/remedius/remedius/service/EstoqueUsuarioMedicamentoService.java
  backend/src/main/java/com/remedius/remedius/service/UsuarioMedicamentoService.java
  backend/src/main/java/com/remedius/remedius/service/UsuarioService.java
  backend/src/test/java/com/remedius/remedius/controller/UsuarioMedicamentoControllerTest.java
  backend/src/test/java/com/remedius/remedius/service/EstoqueUsuarioMedicamentoServiceTest.java
  backend/src/test/java/com/remedius/remedius/service/UsuarioMedicamentoServiceTest.java
  frontend/package.json
Labels: backend, test

#83 Implement CI in branch dev
  .github/workflows/deploy.yml
Labels: backend

#86 :bug: Correção de bug na exibição de informações de estoque
  frontend/__tests__/Inventory.test.tsx
  frontend/app/(tabs)/add.tsx
  frontend/app/(tabs)/inventory.tsx
Labels: bug, frontend

#88 :recycle: Refactor: Extração de métodos de requisição a API da tela de cadastro para uma classe de Serviços
  frontend/__tests__/RegisterMedication.test.tsx
  frontend/app/(tabs)/add.tsx
  frontend/entities/medicamentoEntity.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/services/apiServices.ts
Labels: enhancement, frontend

#117 :sparkles: Adição do campo "Duração de Tratamento" no Frontend (Telas de Cadastro e Edição)
  frontend/app/(tabs)/add.tsx
  frontend/app/edit.tsx
  frontend/entities/medicamentoEntity.ts
  frontend/services/apiServices.ts
Labels: frontend

#120 ♻️ refatorando a classe UsuarioMedicamento
  .vscode/settings.json
  backend/pom.xml
  backend/src/main/java/com/remedius/remedius/DTOs/UsuarioMedicamentoRequest.java
  backend/src/main/java/com/remedius/remedius/controller/UsuarioController.java
  backend/src/main/java/com/remedius/remedius/controller/UsuarioMedicamentoController.java
  backend/src/main/java/com/remedius/remedius/entities/UsuarioMedicamentoEntity.java
  backend/src/main/java/com/remedius/remedius/repository/UsuarioMedicamentoRepository.java
  backend/src/main/java/com/remedius/remedius/repository/UsuarioRepository.java
  backend/src/main/java/com/remedius/remedius/service/EstoqueUsuarioMedicamentoService.java
  backend/src/main/java/com/remedius/remedius/service/UsuarioMedicamentoService.java
  backend/src/main/java/com/remedius/remedius/service/UsuarioService.java
  backend/src/test/java/com/remedius/remedius/controller/UsuarioMedicamentoControllerTest.java
  backend/src/test/java/com/remedius/remedius/service/EstoqueUsuarioMedicamentoServiceTest.java
  backend/src/test/java/com/remedius/remedius/service/UsuarioMedicamentoServiceTest.java
Labels: backend

#119 :sparkles: feat: Adição de seção para Medicações Recentes não atualizadas
  frontend/app/(tabs)/add.tsx
  frontend/app/(tabs)/home.tsx
  frontend/entities/RecentMedications.tsx
  frontend/services/apiServices.ts
  frontend/services/mockApiService.ts
Labels: enhancement, frontend

#121 92 criar controller usuariomedicamentotratamento backend
  backend/src/main/java/com/remedius/remedius/DTOs/AtualizarTratamentoDTO.java
  backend/src/main/java/com/remedius/remedius/DTOs/CriarTratamentoDTO.java
  backend/src/main/java/com/remedius/remedius/DTOs/UsuarioMedicamentoRequest.java
  backend/src/main/java/com/remedius/remedius/controller/TratamentoController.java
  backend/src/main/java/com/remedius/remedius/controller/UsuarioMedicamentoController.java
  backend/src/main/java/com/remedius/remedius/entities/TratamentoEntity.java
  backend/src/main/java/com/remedius/remedius/entities/UsuarioMedicamentoEntity.java
  backend/src/main/java/com/remedius/remedius/enums/StatusTratamentoEnum.java
  backend/src/main/java/com/remedius/remedius/repository/TratamentoRepository.java
  backend/src/main/java/com/remedius/remedius/repository/UsuarioMedicamentoRepository.java
  backend/src/main/java/com/remedius/remedius/service/TratamentoService.java
  backend/src/main/java/com/remedius/remedius/service/UsuarioMedicamentoService.java
Labels: backend

#123 Criação de componente para exibir Evento de Medicação no Cronograma (Frontend)
  frontend/app/(tabs)/add.tsx
  frontend/app/(tabs)/home.tsx
  frontend/components/MedicationEventCard.tsx
  frontend/components/MedicationScheduleMock.tsx
  frontend/entities/medicamentoEntity.ts
  frontend/services/apiServices.ts
  frontend/utils/MedicationPrototype.ts
Labels: enhancement, frontend

#124 Refatoração da tela de Cadastro de Medicação
  frontend/app/(tabs)/add.tsx
  frontend/services/apiServices.ts
  frontend/utils/MedicationPrototype.ts
Labels: frontend

#125 Criar ou modificar usuario medicamento estoque#107#108#109
  backend/src/main/java/com/remedius/remedius/DTOs/AtualizarEstoqueDTO.java
  backend/src/main/java/com/remedius/remedius/DTOs/AtualizarTratamentoDTO.java
  backend/src/main/java/com/remedius/remedius/DTOs/CriarEstoqueDTO.java
  backend/src/main/java/com/remedius/remedius/DTOs/UsuarioMedicamentoEstoqueRequest.java
  backend/src/main/java/com/remedius/remedius/controller/EstoqueUsuarioMedicamentoController.java
  backend/src/main/java/com/remedius/remedius/controller/UsuarioMedicamentoEstoqueController.java
  backend/src/main/java/com/remedius/remedius/entities/EstoqueUsuarioMedicamentoEntity.java
  backend/src/main/java/com/remedius/remedius/entities/UsuarioMedicamentoEntity.java
  backend/src/main/java/com/remedius/remedius/entities/UsuarioMedicamentoEstoqueEntity.java
  backend/src/main/java/com/remedius/remedius/enums/StatusEstoque.java
  backend/src/main/java/com/remedius/remedius/repository/EstoqueUsuarioMedicamentoRepository.java
  backend/src/main/java/com/remedius/remedius/repository/UsuarioMedicamentoEstoqueRepository.java
  backend/src/main/java/com/remedius/remedius/service/EstoqueUsuarioMedicamentoService.java
  backend/src/main/java/com/remedius/remedius/service/UsuarioMedicamentoEstoqueService.java
  backend/src/test/java/com/remedius/remedius/service/EstoqueUsuarioMedicamentoServiceTest.java
  compose.yml
Labels: backend

#126 🚧 classes e lógica da implementação dos Eventos
  backend/src/main/java/com/remedius/remedius/DTOs/EventoAtivoPorUsuarioDTO.java
  backend/src/main/java/com/remedius/remedius/DTOs/TratamentoEventoUpdateDTO.java
  backend/src/main/java/com/remedius/remedius/controller/TratamentoController.java
  backend/src/main/java/com/remedius/remedius/controller/TratamentoEventoController.java
  backend/src/main/java/com/remedius/remedius/entities/TratamentoEntity.java
  backend/src/main/java/com/remedius/remedius/entities/TratamentoEventoEntity.java
  backend/src/main/java/com/remedius/remedius/enums/StatusEventoEnum.java
  backend/src/main/java/com/remedius/remedius/repository/TratamentoEventoRepository.java
  backend/src/main/java/com/remedius/remedius/service/TratamentoEventoService.java
  backend/src/main/java/com/remedius/remedius/service/TratamentoService.java
  compose.yml
Labels: backend

#127 Mudança no formato das requisições no Frontend para Estoque
  frontend/app/(tabs)/add.tsx
  frontend/app/(tabs)/list.tsx
  frontend/app/edit.tsx
  frontend/services/apiServices.ts
  frontend/utils/MedicationPrototype.ts
Labels: frontend

#128 :sparkles: feat: implements edit screen and fixes add.tsx bug
  frontend/app/(tabs)/add.tsx
  frontend/app/(tabs)/list.tsx
  frontend/app/edit.tsx
  frontend/services/apiServices.ts
  frontend/utils/MedicationPrototype.ts
Labels: frontend

#129 implementação de listagem de medicamentos por usuario
  backend/src/main/java/com/remedius/remedius/controller/MedicamentoController.java
  backend/src/main/java/com/remedius/remedius/controller/UsuarioMedicamentoController.java
  backend/src/main/java/com/remedius/remedius/controller/UsuarioMedicamentoEstoqueController.java
  backend/src/main/java/com/remedius/remedius/entities/UsuarioMedicamentoEntity.java
  backend/src/main/java/com/remedius/remedius/entities/UsuarioMedicamentoEstoqueEntity.java
  backend/src/main/java/com/remedius/remedius/repository/UsuarioMedicamentoEstoqueRepository.java
  backend/src/main/java/com/remedius/remedius/repository/UsuarioMedicamentoRepository.java
  backend/src/main/java/com/remedius/remedius/service/UsuarioMedicamentoEstoqueService.java
  backend/src/main/java/com/remedius/remedius/service/UsuarioMedicamentoService.java
Labels: backend

#131 implementação listagem de Tratamentos filtrada pelo UsuarioMedicamentoId
  backend/src/main/java/com/remedius/remedius/controller/TratamentoController.java
  backend/src/main/java/com/remedius/remedius/repository/TratamentoRepository.java
  backend/src/main/java/com/remedius/remedius/service/TratamentoService.java
Labels: backend

#132 :sparkles: Correção da tela de estoque para adequação à nova API
  frontend/app/(tabs)/inventory.tsx
Labels: enhancement, frontend

#134 Adequação da tela de listagem de medicações para os novos endpoints da API (Frontend)
  frontend/app/(tabs)/list.tsx
  frontend/utils/MedicationPrototype.ts
Labels: enhancement, frontend

#140 🧪 Teste: Novos testes da tela de estoque de medicamentos + remoção de testes defeituosos
  backend/src/test/java/com/remedius/remedius/controller/UsuarioMedicamentoControllerTest.java
  frontend/__tests__/Inventory.test.tsx
  frontend/__tests__/RegisterMedication.test.tsx
  frontend/services/mockApiService.ts
Labels: frontend, test

#137 ✨ criar um endpoint que retorna eventos de medicação atrasados pro usuário (evento com status esquecido)
  backend/src/main/java/com/remedius/remedius/controller/TratamentoEventoController.java
  backend/src/main/java/com/remedius/remedius/repository/TratamentoEventoRepository.java
  backend/src/main/java/com/remedius/remedius/service/TratamentoEventoService.java
Labels: backend

#141 🧪 adicionando teste para a classe TratamentoEventoService.java
  backend/src/main/java/com/remedius/remedius/DTOs/TratamentoEventoUpdateDTO.java
  backend/src/test/java/com/remedius/remedius/service/TratamentoEventoServiceTest.java
Labels: backend, test

#145 Implementação do padrão de projeto Observer para futuro sistema de notificações
  frontend/app/(tabs)/inventory.tsx
  frontend/observers/StockObservers.ts
Labels: enhancement, frontend
